<form action="/artist" method="post">
  <h3>Update account details</h3>
  <div>
    <label for="name">New name:</label>
    <input type="text" name="name" id="name" />
  </div>
  <div>
    <label for="name">New producer:</label>
    <input type="text" name="producer" id="producer" />
  </div>
  <div>
    <input type="submit" value="Update" />
  </div>
</form>
<form action="/artist/remove" method="post">
    <input type="submit" value="Remove Account" />
</form>