<div class='p-8'>
  <h3 class='font-bold text-2xl text-center' >Tracks</h3>
  {{#each tracks}}
    <div class='flex justify-center items-center relative'>
      <a class='font-bold' href="/track/{{artist_id}}/{{title}}">
        <button class='text-white font-bold py-2 px-4 rounded bg-slate-600 mt-4' >
            {{title}}
            {{#if name}}  
              by {{name}}
            {{/if}}
        </button>
      </a>
    </div>
  {{/each}}
</div>