<form action="" method="post">
  <h3>Update account details</h3>
  <div>
    <label for="name">New username:</label>
    <input type="text" name="username" id="username" />
  </div>
  <div>
    <label for="name">New name:</label>
    <input type="text" name="name" id="name" />
  </div>
  <div>
    <input type="submit" value="Update" />
  </div>
</form>
<form action="/user/remove" method="post">
    <input type="submit" value="Remove Account" />
</form>