<h1>Login</h1>
<form action="/artist/login" method="post">
  <div>
    <p>{{message}}</p>
  </div>
  <div>
    <label for="name">Enter your artist ID:</label>
    <input type="text" name="artist_id" id="artist_id" required />
  </div>
  <div>
    <input type="submit" value="Login" />
  </div>
</form>
<div>
  <a href="/artist/register">Register</a>
</div>