<div class='flex justify-center items-center relative'>
  <div class='w-full bg-white dark:bg-gray-800 shadow-md rounded-lg p-6 relative'>
    <div class="w-full mb-5">
      <a class="text-blue-500" href="/user">User Home</a>
      <span> | </span>
      <a class="text-blue-500" href="/artist">Artist Home</a>
      <span> | </span>
      <a class="text-blue-500" href="/track">Tracks</a>
      <span> | </span>
      <a class="text-blue-500" href="/playlist">Playlists</a>
    </div>
    <h1 class="text-2xl font-bold mb-4">{{message}}</h1>
  </div>
</div>

