<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/output.css' />
    <script src="/javascripts/flowbite.min.js"></script>
  </head>
  <body class='p-20 bg-slate-100 font-nunito'>
    {{{body}}}
  </body>
</html>
