<h1>Login</h1>
<form action="" method="post">
  <div>
    <p>{{message}}</p>
  </div>
  <div>
    <label for="name">Enter your username:</label>
    <input type="text" name="username" id="username" required />
  </div>
  <div>
    <input type="submit" value="Login" />
  </div>
</form>